componentVersions/
tasks/

options/appComponentVersions.xml
options/browsers.xml
options/code.style.schemes.xml
options/feature.usage.statistics.xml
options/notifications.xml
options/options.xml
options/other.xml
options/project.default.xml
options/statistics.application.usages.xml
options/usage.statistics.xml 
options/window.manager.xml

# Ignore unneeded files created by MacOS
.DS_Store

# Ignore temporary files created by Emacs
*~

# Ignore temporary files created by IDE
.idea
.project

